body {
	font-size: 14px;
}

h1 {
	padding: 0 0.5em;
	font-size: 1.3em;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	margin: 0.5em 0;
}

.main-map {
	height: 600px;
	width: 100%;
	margin-top: 1em;
}

.search-input {
	margin-right: 1em;
}

.invisible {
	display: none;
}